# Maven
target/

# TestNG Reports
test-output/

# Extent Reports
reports/

# Eclipse Files
.settings/
.project
.classpath

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log

# Java
*.class

# Mac
.DS_Store

# Windows
Thumbs.db